{{> head }}

    <!--Incluyendo el partial navbar-->
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>{{ name }}</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/raul.jpg" alt="Mi foto" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
